@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300;400;500;700&family=Cutive+Mono&family=Itim&family=Macondo+Swash+Caps&family=Quicksand:wght@300;400;500;600;700&family=Qwigley&family=Sofia&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,700&display=swap');

* {
  font-family: ' Source Serif Pro';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
